
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Kapakana:wght@300..400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Honk&family=Kapakana:wght@300..400&display=swap');

:root {
	
	--darkest-purple: #452c63; 
	--dark-purple: #D8BFD8; 
	--medium-purple: #EE82EE;
	--light-purple: #E6E6FA; 
	--text-color: #221D0F; 
}


/*CSS without a media query--applies to all sizes unless overridden*/
h1{
	font-size: 4em;
}


/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 2em;
	}
	
	canvas{
		max-width: 700px;

	}



}





/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
	

	.intro-pictureText1rstParagh
		{
			min-width: 350px;
		}
	nav{
		font-size: 1em;

	}
	canvas{
		max-width: 400px;
	}

	

}



/* JavaScript Game changes for mobile */
.mobile{
	display:none;
}
@media only screen and (max-width: 768px){
	.desktop{
		display:none;
	}
	.mobile{
		display: block;
		touch-action: manipulation;
	}
}








img{

	display:block;
	margin:0 auto;
}










html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}


body{
	margin: 0;
	/*background-color:var(--light-purple);*/
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
	font-family: "DM Serif Text", serif;
}

canvas{
	border: 1px solid #d3d3d3;
	background-image:url("images/BGGame.jpg");
}






.Head-fixer{
	/*position: fixed;*/
	width: 100%;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);


}


header{

	text-align: left;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
	color: var(--text-color);
	height: 100%;
	
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: NORMAL;
	

	-webkit-user-select: none; /* Safari and older Chrome/Opera */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* Internet Explorer/Edge */
	user-select: none;         /* Standard syntax */
	box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.1);


}




.header-container{
	margin-left: auto; 
	margin-right: auto; 
	max-width: 1200px; 
	 
	text-align:left; 
	padding: 5px;
	border-bottom: solid yellow 2px;
}

.logo{
	
	padding-top: 5px;
  max-width: 200px;
	filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));  

}
.header-containerCol1{
	border-radius: 20px 20px 3px 3px; 
	/*background-image: linear-gradient( 135deg,  #7367F0 10%, #CE9FFC 100%);*/

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}


.header-containerCol1-Text{
	 
	border-radius: 20px; 
	margin-top: 10px;	
	padding-left: 10px;
	padding-right: 10px;
}





header h1{

	
	font-size: 3em;
	color: yellow;
	margin-bottom: 20px;
	

}
header h3{

	
	font-size: 1em;
	margin-top: -20PX;
	background-image: linear-gradient( 135deg, #7367F0  100%, #CE9FFC 10%);
	border-radius: 20px;
	color: yellow;
	padding: 10px;
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);

}



header a{	
	font-size: 1em;
	font-family: "DM Serif Text", serif;
	color: white;
	text-decoration: none;
	box-shadow: 0px 30px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-image: linear-gradient( 135deg, #7367F0 70%, #CE9FFC 100%);
	border: 2px solid white;


	
}


header a:hover{	
	font-size: 1em;
	font-family: "DM Serif Text", serif;
	
	color: yellow;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 50%);
	border-radius: 20px;
	border: 2px solid yellow;	
}


.active{
	color:yellow;
	border: 2px solid yellow;
	background-image: linear-gradient( 135deg, #7367F0 15%, #CE9FFC 100%);
}






nav{
		
	width: 100%;
	background-image: linear-gradient( 135deg, #7367F0 15%, #CE9FFC 100%);
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding: 15px;
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);




	
}


nav ul{
	list-style-type: none;
	text-align: center;
	margin: 2px 0;
	
	

}

nav li{
   display: inline;
 
   min-width: 400px;
   padding: 5px;
}

nav a{
	 color: white;
	 text-decoration: none;
	 padding: 10px;
}

nav a:link{
	
}

nav a:visited {

	
}

nav a:hover{
	
	
	
}

nav a:active{
	
	
}










main{
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding: 15px;
}


.container-portfolio{
	background-color: #f3f2f1;
  margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding: 15px;
	margin-bottom: 30px;
}


.screenshoot-portfolio{
	
  margin-bottom: 15px;
	
}

.textportfolio{
	background-color: white;

	
	padding: 20px;
	width: 550px;
	margin-bottom: 15px;
}







img{

	display:block;
	margin:0 auto;
}

.home-hero{

	box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3);

	/*margin-top: 450px; */
}







.gallery .preview{
	width: 100%;
	height: auto;
}



.gallery .gallery-thumbnails img {
	width: 100px;
	height: 75px;
	margin: 10px 10px 10px 10px;

	
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

}





.gallery .gallery-thumbnails img:hover{
	
	cursor: pointer;
	padding: 5px;
}






.gallery .preview img#preview {
	padding: 1px;
	max-width: 50%;
	height: auto;
	margin: 0 auto !important;
	display: block !important;
	background-image: linear-gradient( 135deg, #7367F0 10%, #CE9FFC 100%);
	padding: 10px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	
}








.MusicGallery .MusicPic{
	width: 100%;
	height: auto;
}
.MusicGallery .MusicPic img#MusicPic {
	padding: 1px;
	max-width: 150px;
	min-width: 150px;
	height: auto;
	margin: 0 auto !important;
	display: block !important;
	background-image: linear-gradient( 135deg, #7367F0 10%, #CE9FFC 100%);
	padding: 10px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.my-audio-player {
  width: 300px; 
  height: 50px;
  margin-top: 20px;
  border: 5px solid linear-gradient( 135deg, #7367F0 10%, #CE9FFC 100%); 
  border-radius: 5px; 
  background-color: #f1f1f1;
  padding: 5px;
  color: yellow;
  padding-left: 20px;
}



.intro-picture{
	background-image: linear-gradient( 135deg, #7367F0 10%, #CE9FFC 100%);
	padding: 10px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.intro-pictureText{

  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
  color: white;
  padding-top: 60PX;
  padding-left: 160px;
  padding-right: 160px;
}



/*i:hover{
	color: var(--darkest-purple);
}*/




footer{
	border-top: purple 3px solid;
	
	background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
	color: white;
	
	

	
}

footer a{
	color: white;
	text-decoration: none;
}
footer a:hover{

	
	color: yellow;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
	border-radius: 20px;
	padding: 10px;
}

.small-copyright{
	
	text-align: center;
	
	background-image: linear-gradient( 135deg, #3B2667 100%, #BC78EC 10%);
	display: block;

	
}






















/*CSS JOYSTICK*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap'); /* I copied and imported this from google fonts*/



.home-heroJOY{
	background-image: url(images/hero-image.jpg);
	height: 300px;
	background-size: cover;
	background-position: top center;
}
.home-heroJOY h1{
	color: white;
	text-shadow: 2px 2px 2px black;
	text-align: center;
	padding-top: 115px;
	font-size: 3em;
	font-weight: normal;
	margin: 0;
}



.float-right{
	float: right;
	max-width: 40%;
	height: auto;

	box-shadow: 23px 16px 19px -17px rgba(0,0,0,0.75);
	box-shadow: 23px 16px 19px -17px rgba(0,0,0,0.75);
	box-shadow: 23px 16px 19px -17px rgba(0,0,0,0.75); /* I copied this box-shadow from https://cssgenerator.org/box-shadow-css-generator.html*/

	border: grey, solid, 1px;
	padding: 6px;
	margin:15px;
	background-color: white;
	margin-right: auto;
	margin-top: 35px;
}



.float-left{
	float: left;
	max-width: 40%;
	height: auto;

	box-shadow: 23px 16px 19px -17px rgba(0,0,0,0.75);
	box-shadow: 23px 16px 19px -17px rgba(0,0,0,0.75);
	box-shadow: 23px 16px 19px -17px rgba(0,0,0,0.75); /* I copied this box-shadow from https://cssgenerator.org/box-shadow-css-generator.html*/

	border: grey, solid, 1px;
	padding: 6px;
	margin-right:30px;
	background-color: white;
}


.text-box{
	float: right;
	max-width: 40%;
	height: auto;
	background-color:#1C2995 ;
	color: white;
	border: grey, solid, 1px;
	padding: 6px;
	
	margin-top: auto;
	font-style: italic;
	font-size: 1em;
}

.text-box h2{
	color: white;
}


a.button-design{
	color: white;
	border-radius: 3px;
	text-decoration: none;
	padding: 8px 25px;
	font-weight: bold;
}
a.button-design:link{
	background-color: #005780;
}
a.button-design:hover{
	background-color: #008bcc;
}

@media only screen and (max-width: 1024px){
/*The CSS will work ONLY IF the screen size is less than 1024px (tablets and smartphones) */
h1{
	font-size: 2.5em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.3em;
}
}


@media only screen and (max-width: 768px){
/*The CSS will work ONLY IF the screen size is less than 768px (smartphones only) */
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.3em;
}

}


@media only screen and (max-width: 768px){
/*The CSS will work ONLY IF the screen size is less than
768px (smartphones only) */


h1{
	font-size:2em;
}
.home-hero{
	height: 125px;

}

.home-hero h1{
	height: 125px;
	font-size: 1.5em;
	padding-top: 45px;
}
.nav{
	padding: 42px;
}
.float-right{
	display:none;
}   
.text-box{
	float: none;
	max-width: 100%;
	display: block;
}
nav ul{
	padding: 0px;
	margin: 0px;
	
}

nav li{
	display:block;
	padding: 0.5em 1em 0.5em 1em;
	border-bottom: solid grey 1px;
}
.float-left{
	display:none;
}   
}









/*CSS RESUME*/

.ResumeDesign{
	background: #FEF6EF;
	border: brown 5px solid;
	padding: 30px;
	border-radius: 20px;
	
}










/*GAME STYLING*/
canvas{
  width: 800px;
  border: 1px solid #d3d3d3;
  background-image:url("images/soccerfield.jpg" );
  background-size: 100% 100%;
  margin: 0;
  display: block;
  box-shadow: 23px 16px 25px -17px rgba(0,0,0,0.75);
  border:2px solid white;
}
.myButton{
	cursor: pointer;
	text-align: center;
	margin-bottom: 2em;
	margin-top: 1em;
	display: block;
	padding: 30px;
	
	background-color: green;
	color: white;
	border:2px solid white;
	border-radius: 20px;
	height: 40px;
	width: 300px;
   font-size: 1em;
   margin-right: auto;
   padding-top: 15px;
	
	/*margin-left: 250px;*/
	text-decoration: none;
	
}


.myButton:hover{
   background-color: white;
   color:green;
   border:2px solid green;
   border-radius: 20px;
}
.myButton2{
	cursor: pointer;
	text-align: center;
	margin-bottom: 2em;
	margin-top: 1em;
	display: block;
	padding: 30px;
	
	background-color: bROWN;
	color: white;
	border:2px solid white;
	border-radius: 20px;
	height: 40px;
	width: 300px;
   font-size: 1em;
   margin-right: auto;
   padding-top: 15px;
	
	/*margin-left: 250px;*/
	text-decoration: none;
	
}


.myButton2:hover{
   background-color: white;
   color:brown;
   border:2px solid black;
   border-radius: 20px;
}


#kicksoccerGame{
	 background-color: green;
   color:white;
   border:2px solid white;
   border-radius: 20px;
   max-width: 500px;
   margin-top: 20px;
   margin-bottom: 5px;
   padding: 20px;
}

.game-paragraph{
	color: white;
	background-image: linear-gradient( 135deg, #7367F0 10%, #CE9FFC 100%);
	border-radius: 20px;
	padding: 10px;

}

.game-paragraph a{
	color: yellow;
	
}








/*Style*/





.mainCol1{
	margin-top: 30px;
}

.mainCol1div2{
	padding-top:10px; 
	padding-left: 20px;
}




.logoFooter{
	margin-top:40px; 
	padding-bottom: 40px;;
}

.footerContainer{
	margin:40px; 
	margin-left: auto; 
	margin-right: auto; 
	max-width: 1200px; 
	padding: 30px;  
	text-align:left;
}


.Footer-H3-1{
	text-decoration: underline; 
	padding-bottom: 20px;
}

.Footer-H3-2{
	text-decoration: underline; 
	padding-bottom: 30px;
}

.footer-div2{
	border-left: 3px solid white; 
	padding-left: 40px;
}

.smallcopyrgt{
	padding-top:40px; 
	color: gray;
}



.resume{
	max-width: 800px;
}





.musicContainer{
	margin-top: 50px; 
	max-width: 1200px; 
	padding-bottom: 100px;

}






